{# <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <h4 class="mr-5"><a class="nav-link" href="{{ path('app_main') }}">Motor'Store</a></h4>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for categoryVO in categoryVOs %}
                <li class="nav-item dropdown"><span>
                    </span>
                    <a class="mr-1" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        href="{{path('voirCategorie', {'slug' : categoryVO.slug })}}">
                        <h5 class="nav-link" style="display: inline-block">{{categoryVO.designation}}</h5> <i
                            class="fa-solid fa-angle-down fa-xs"></i>
                    </a>
                    <ul class="dropdown-menu ">
                        {% for subCategoryVO in categoryVO.subCategoriesVOs %}
                        <li><a class="dropdown-item nav-link"
                                href="{{path('voirSousCategorie', {'slug' : subCategoryVO.slug })}}">{{subCategoryVO.designation}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nom du produit">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Rechercher</button>
                </div>
            </div>
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                <li class="nav-item dropdown connected">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <h5 class="nav-link" style="display: inline-block"> Mon Compte</h5>
                        <i class="fa-solid fa-angle-down fa-xs"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profile') }}">Mon profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Fideli'trip</a>
                        </li>
                        {% if app.user.roles[0] == "ROLE_ADMIN" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">Administrateur</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
                {% endif %}
                <li class="nav-item mt-2">
                    <a href="{{ path('cart') }}">
                        <i class="fa-solid fa-cart-shopping" style="font-size: 150%;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
#}

<nav class="navbar navbar-expand container-fluid">
    <div class="row collapse navbar-collapse" id="navbarSupportedContent">
        <div class="col-md-1">
            <h4><a class="logoHome" href="{{ path('app_main') }}">Motor'Store</a></h4>
        </div>
        <div class="col-md-5">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for categoryVO in categoryVOs %}
                <li class="nav-item dropdown"><span>
                    </span>
                    <a class="mr-1 dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <h5 class="nav-link" style="display: inline-block">{{categoryVO.designation}}</h5>
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a class="dropdown-item nav-link" href="{{path('voirCategorie', {'slug' : categoryVO.slug })}}">{{categoryVO.designation}}</a></li>
                        <hr style="margin: 0;">
                        {% for subCategoryVO in categoryVO.subCategoriesVOs %}
                        <li><a class="dropdown-item nav-link"
                                href="{{path('voirSousCategorie', {'slug' : subCategoryVO.slug })}}">{{subCategoryVO.designation}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nom du produit ...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" style="background-color:white; color:black; border-width:2px">Rechercher</button >
                </div>
            </div>
        </div>
        <div class="col-md-3" style="justify-content: end;">
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                <li class="nav-item dropdown connected">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <h5 class="nav-link dropdown-toggle" style="display: inline-block"> {{app.user.firstName}} {{app.user.lastName}}</h5>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profile') }}">Mon Compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('voirProgFidelite')}}">Fideli'trip</a>
                        </li>
                        {% if app.user.roles[0] == "ROLE_ADMIN" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">Administrateur</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
                {% endif %}
                <li class="nav-item mt-2">
                    <a href="{{ path('cart') }}">
                        <i class="fa-solid fa-cart-shopping" style="font-size: 150%;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>