{% extends 'base.html.twig' %}
{% block body %}
<div class="categoryStyle">
    <h2 class="categoryTitle">{{ categoryVO.designation}} </h2>
    <p class="categoryDescr">{{categoryVO.description}}</p>
</div>
{% for subCategoryVO in categoryVO.getSubCategoriesVOs() %}
    <h5 class="subCategoryTitle">{{subCategoryVO.designation}}</h5>
    <div class="divSubCategory">
        {% set i= 0 %}
        {% for productVO in subCategoryVO.getProductVOs() %}
        {% set i = i+1%}
            {% if i < 5 %} 
            <a href="{{ path('voirProduit',{'slug' : productVO.slug}) }}">
                <div class="itemProduct">
                    <div class="imageProductItem">
                        <img src="{{productVO.photoURL}}" alt="" class="img-fluid rounded">
                    </div>
                    <h5>{{productVO.designation}}</h5>
                    <p>{{productVO.brandVO}}</p>
                    <span class="productPrice">
                        <a  href="#" class="btn btn-primary">Ajouter au Panier</a>
                        <p>{{(productVO.prixTTC / 100)|number_format(2,',','.')}} €</p>
                    </span>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="text-center mt-2 mb-5">
        <a href="{{ path('voirSousCategorie',{'slug' : subCategoryVO.slug}) }}" class="btn btn-primary showMoreButton">Voir +</a>
    </div>
{% endfor %}



{% endblock %}