{% extends 'base.html.twig' %}
{% block title %} MotorStore - {{productVO.designation}} {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-5">
        <img src="/uploads/{{ productVO.photoURL}}" alt="{{ productVO.designation}}" class="img-fluid">
    </div>
    <div class="col-md-7 my-auto">
        <div class=" ">
            <h2>{{ productVO.designation }}</h2>
            <p>{{productVO.brandVO }} </p>
            <p>{{productVO.details}}</p>
            <p>{{(productVO.prixTTC /100)|number_format(2,',','.')}} €</p>
            <hr>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
</div>
{% endblock body %}