{% extends 'base.html.twig' %}
{% block title %} MotorStore - Nos Produits {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3">
        <h3>Filtrer :</h3>
        {{ form(form) }}
    </div>
    <div class="col-md-9">
        <div class="row">
            <h3>Tous nos Produits ! </h3>
            {% for productVO in productVOs %}
            <div class="col-md-4">
                <a href="{{ path('voirProduit',{'slug' : productVO.slug}) }}">
                    <div class="itemProduct">
                        <div class="imageProductItem">
                            <img src="/uploads/{{productVO.photoURL}}" alt="" class="img-fluid rounded">
                        </div>
                        <h5>{{productVO.designation}}</h5>
                        <p>{{productVO.brandVO}}</p>
                        <span class="productPrice">
                            <p>{{(productVO.prixTTC / 100)|number_format(2,',','.')}} €</p>
                        </span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}