{% extends 'base.html.twig' %}
{% block title %} MotorStore - {{ subCategoryVO.designation}} {% endblock %}

{% block body %}
<div class="row">
    {% for productVO in subCategoryVO.getProductVOs() %}
    <div class="col-md-4">
        <a href="{{ path('voirProduit',{'slug' : productVO.slug}) }}">
            <div class="itemProduct">
                <div class="imageProductItem">
                    <img src="/uploads/{{productVO.photoURL}}" alt="" class="img-fluid rounded">
                </div>
                <h5>{{productVO.designation}}</h5>
                <p>{{productVO.brandVO}}</p>
                <span class="productPrice">
                    <p>{{(productVO.prixTTC / 100)|number_format(2,',','.')}} €</p>
                </span>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock body %}