{% extends 'base.html.twig' %}

{% block title %}Votre Commande - MotorStore{% endblock %}

{% block body %}
<div class="pageTitleDiv">
    <h1 class="pageTitleH1">Votre Commande</h1>
    <p class="pageTitleSummary" >
        <a href="{{path('homePage')}}">Accueil</a> / 
        <a href="{{path('showCart')}}">Mon Panier</a>
    </p>
</div>
    {% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% set formHtml %}
                {{form_start(form, {action: path('showOrderRecap')})}}
                    <strong>
                        {{form_label(form.Adresses,'Choisissez une adresse existante ou ')}} 
                    </strong>
                    <a class="btn btn-dark btn-sm" href="{{path('addAddress')}}">Ajouter une Adresse</a>
                    <hr>
                    <div class="row mb-5 mt-2">
                        {% for address in form.Adresses %}
                        <div class="col-md-4">
                            {{form_widget(address)}}
                            {{form_label(address)}}
                        </div>
                        {% endfor %}
                    </div>
                    <strong >
                        {{form_label(form.Transporter,'Choisissez le Transporteur:')}}
                    </strong>
                    <hr>
                    <div class="row" >
                        {% for transporter in form.Transporter %}
                        <div class="col-md-4">
                            {{form_widget(transporter)}}
                            {{form_label(transporter)}}
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>
                                {{form_label(form.DiscountCode,'Code de Réduction:')}}
                            </strong>
                        </div>
                        <div class="col-md-8">
                            {{form_widget(form.DiscountCode)}}
                        </div>
                        {{form_help(form.DiscountCode)}}
                    </div>
                    <hr>
                    {{form_widget(form.submit)}}
                {{form_end(form)}}
                {% endset %}
        
                {{formHtml|replace({'[br]' : '<br/>'})|raw}}
            </div>
            <div class="col-md-6">
                <b>Récapitulatif de la Commande</b>
                <hr>
                {% for productVO in cartVO %}
                    <div class="row">
                        <div class="col-3">
                            <img src="/uploads/{{ productVO.productVO.photoURL}}" alt="{{ productVO.productVO.designation}}" class="img-fluid" style="height: 100px;">
                        </div>
                        <div class="col-6 my-auto">
                            {{productVO.productVO.designation}}
                        </div>
                        <div class="col-3 my-auto">Quantité : {{productVO.quantity}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock container %}
{% endblock %}