{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<div class="pageTitleDiv">
    <h1 class="pageTitleH1">Mon Compte</h1>
    <p class="pageTitleSummary" >
        <a href="{{path('homePage')}}">Accueil</a>
    </p>
</div>
{% block container %}
    <div class="container">
        <h1>Bienvenue dans votre espace personnelle ! </h1>
        <p>Bonjour {{app.user.firstName}} ! C'est sur cette page que vous allez pouvoir modifier toutes vos informations
            personnelles et consulter les commandes que vous avez déja passer ! </p>
        <hr>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{message}}
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-4">
                <a href=" {{path('showOrders')}}">
                    <div class="accountItem">
                        <p>Mes Commandes</p>
                        <i class="fa-solid fa-box-open fa-xl"></i>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href=" {{path('editPassword')}}">
                    <div class="accountItem">
                        <p>Modifier mon Mot de Passe </p>
                        <i class="fa-solid fa-key fa-xl"></i>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href=" {{path('showAddress')}}">
                    <div class="accountItem">
                        <p>Modifier mes Adresses </p>
                        <i class="fa-solid fa-map-location-dot fa-xl"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock container %}


{% endblock %}